#logo
{
    width: 10%;
    aspect-ratio: 4/1.8;
}
.logo{
    width: 100%;
    margin-left: 40%;
    margin-top: 15%;
    margin-bottom: 20%;
}
header a
{
    color: black;
    line-height: 140px;
    font-size: 1.5vw;
}
header a:hover
{
    background: linear-gradient(to bottom,#0065FC 3%, white 3% 100%);
    color: #0065FC;
}
.heberg
{
    width: 140%;
    text-align: center;
}
.activ
{
    width: 110%;
    text-align: center;
}
#Navigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    width: 25%;
}
#search input
{
    font-size: 1.2vw;
}
h1
{
    font-size: 1.8vw;
    font-weight: bold;
    line-height: 25px;
}
#filters
{
    aspect-ratio: 27.7/2.7;
}
.filter
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
    height: 50%;
}
#page_Results
{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h2
{
    line-height: 25px;
    font-size: 1.3vw;
    font-weight: lighter ;
    color: black;
}
.background_Popular
{
    aspect-ratio: 12.5/5.3;
}
.title_Actitities
{
    font-size: 1.6vw;
    margin-top: 40px;
    font-weight: bold;
    color: black;
    vertical-align: bottom;
}
.fa-star
{
    font-size: 1vw;
}
#my_Search
{
    width: 17%;
    aspect-ratio: 7.6/1.55;
}
.search
{
    width: 9%;
    aspect-ratio: 4.3/1.65;
}
